*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    letter-spacing: .08rem;
}

main{
    z-index: 1;
}

header{
    z-index: 3;
}

footer{
    z-index: 1;
}

/*-----CSS para index.html-----*/


h1{
    font-size: 40px;
}

h2{
    font-size: 25px;    
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'header' 'main' 'footer';
}

.header{grid-area: header;}
.main{grid-area: main;}
.footer{grid-area: footer;}

#header-index{
    align-items: center;
    min-height: 100px;
    background-image: url(images/carnaval.jpg); /*Imagen de fondo del Header*/
    background-size: cover;
    background-position: center;
}

.header-container{
    /*Creamos este cotainer para agregar una capa de color sobre la imagen del Header*/
    background-image: linear-gradient(rgb(5, 51,237), rgb(5, 51, 237,.8));
}

.menu-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    z-index: 5;
}

.menu-shadow{
    background: #0533ed;
    box-shadow: 0 3px 10px .1px rgba(0, 0, 0, 0.45);
}

.main-menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    min-width: 450px;
    padding-right: 30px;
}

.text-menu{
    text-decoration: none;
    color: #fff;    
}

.text-menu:hover{
    text-decoration: underline;
    transition-duration: 2s;
}

#logo-menu{
    width: 250px;
    padding-left: 6vw;
}

#logo-footer{
    width: 250px;
}

.welcome-container{
    color: #fff;
    display: flex;
    justify-content: center;
}

.welcome-title{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    padding-top: 70px;
}

.title-title{
    padding-bottom: 15px;
}

.style-btn1{
    background: #2cd4d9;
    min-width: 120px;
    height: 35px;
    color: #0533ed;
    border: solid 2px #fff;
    border-radius: 30px;
    transition-duration: .6s;
}

.style-btn1:hover{
    background: #fff;
    border: solid 3px #27c1c6;
    box-shadow: inset 0 0 10px .3px #0533ed;
    transition-duration: .6s;
}

.login-btn{
    margin-top: 25px;
    padding: 0 15px;
}

.search-bar{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 120px;
    
}

.elements{
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.search-items{
    height: 35px;
    /* margin-top: 40px; */
    width: 200px;
    border-radius: 6px;
    border: none;
    text-align: center;
}

.search-btn{
    /* margin-top: 40px; */
}

.title-activities{
    text-align: center;
    margin: 47px 0;
}

.activities{
    margin: auto;
    display: table;
    padding-bottom: 18px;
}

/* .activities-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw;
} */
/* .img-x2{
    width: 65%;
    padding-bottom: 7px;
    object-fit: cover;
} */
/* .img-x1{
    width: 34%;
    padding-bottom: 7px;
    object-fit: cover;
} */

.img-x1{grid-area: img1;}
.img-x2{grid-area: img2;}
.img-x3{grid-area: img3;}
.img-x4{grid-area: img4;}
.img-x5{grid-area: img5;}
.img-x6{grid-area: img6;}

.activities-list{
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
    gap: 9px 9px;
    grid-template-areas: 'img2 img2 img1' 'img3 img4 img4' 'img5 img5 img6';
}

.imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.why-us-container{
    background: #27c1c6;
    padding: 35px 0;
    text-align: center;
    color: #fff;
}

.why-us-items{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.why-us-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.why-us-icon{
    width: 70px;
    padding-bottom: 10px;
}

.footer{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
    grid-template-areas: 'social columna2 columna3 columna4';
    justify-content: space-between;
    width: 100%;
    min-height: 200px;
    background: #0533ed;
}

.footer-social{
    grid-area: social;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 25%; */
}

.footer-column2{grid-area: columna2;}
.footer-column3{grid-area: columna3;}
.footer-column4{grid-area: columna4;}

.footer-column{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 25%; */
}

.footer-column ul{
    list-style: none;
}

.footer-column ul li{
    margin-bottom: 6px;
}

.footer-column ul li a{
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    font-weight: 500;
}

.social-media{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    width: 40%;
}

.social-media img{
    width: 25px;
}

/*-----CSS para alquileres.html-----*/

.alq-main{
    margin: 0 5vw;
}

.alq-container{
    display: flex;
    background: #27c1c6;
    margin-bottom: 10px;
    border-radius: 20px;
}

.alq-img{
    width: 40%;
    height: auto;
    padding: 15px;
    margin-bottom: 10px;
}

.alq-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: solid 6px #fff;
}

.alq-img img:hover{
    /*Aqui quiero agregar un efecto de re-size pero sin overflow*/
}

.alq-desc{
    width: 60%;
    padding: 15px 10px 15px 25px;
}

.alq-title{
    font-size: 22px;
}

.alq-sku{
    font-size: 13px;
    padding-bottom: 15px;
}

.alq-btn{
    background: #0533ed;
    width: 180px;
    height: 35px;
    color: #fff;
    border: solid 2px #fff;
    margin: 15px 25px 15px 0;
    border-radius: 30px;
}

.alq-btn:hover{
    background: #fff;
    color: #0533ed;
    border: solid 3px #0533ed;
}

.maps{
    margin-top: 10px;
    border-radius: 10px;
}

.alq-search{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    position: sticky;
    top:10px;
}
.alq-search-bar{
    display: flex;
    justify-content: center;
    padding: 15px 25px;
    border-radius: 30px;
    align-content: center;
    width: auto;
    background: #0533ed;
}

/*-----CSS para quienes-somos.html-----*/

.us-banner{
    min-height: 400px;
    background-image: url(images/hostel.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.us-backg{
    width: 100%;
    height: 400px;
    background-color: rgb(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.us-title{
    color: #fff;
    font-size: 40px;
}

.us-description{
    color: #fff;
    margin-top: 20px;
    padding: 0 15%;
}

.us-desc{
    display: flex;
    justify-content: center;
    margin: 40px 10%;
}

.us-desc-text{
    width: 50%;
    text-align: justify;
}

.us-desc-img{
    width: 50%;
    object-fit: fill;
    display: flex;
    justify-content: center;
}

.us-desc-img img{
    width: 90%;
    border-radius: 5px;
}

.us-counter{
    margin: 65px 22%;
    display: flex;
    justify-content: space-between;
}

.us-counter-item{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
}

.us-counter-item img{
    width: 100px;
    margin: 13px 0;
}

/*-----CSS para mis-reservas.html-----*/

.account-section{
    background-image: url(images/hostel.jpg);
    background-size: cover;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
}

.account{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    margin: 0 15%;
}

.account-signup{
    background-color: #0533ed;
    padding: 20px;
    width: 50%;
    border-radius: 15px 0 0 15px;
    color: #fff;
}

.account-login{
    background-color: #27c1c6;
    padding: 20px;
    width: 50%;
    border-radius: 0 15px 15px 0;
}

.account-form{
    margin-top: 20px;
    margin-left: 10px;
}

.account-form p{
    font-size: 15px;
}

.account-form input{
    width: 80%;
    height: 22px;
    margin-bottom: 10px;
}

.style-btn2{
    background: #fff;
    padding: 5px 10px;
    height: 35px;
    color: #0533ed;
    border: solid 2px #fff;
    border-radius: 30px;
    margin-top: 15px;
    transition-duration: .6s;
    box-shadow: 0 3px 10px .1px rgba(0, 0, 0, 0.418);
}

.style-btn2:hover{
    letter-spacing: .2em;
    transition-duration: .6s;
}

/*-----CSS para contacto.html-----*/

.contact-sec1{
    padding: 70px 0;
    /* box-shadow: inset 3px 0 15px .3px black; */
}

.contact-sec1 h1{
    text-align: center;
    padding-bottom: 50px;
}

.contact-items{
    display: flex;
    justify-content: space-between;
    padding: 20px 15%;
    text-align: center;
}

.contact-item img{
    width: 100px;
    margin-bottom: 15px;
    
    transition-duration: .7s;
}

.contact-item img:hover{
    width: 107px;
    transition-duration: .7s;
}

.contact-sec2{
    display: flex;
    justify-content: center;
    background-image: url(images/casa.jpg);
    background-position: center;
    background-size:cover;
    color: #fff;
}

.contact-left{
    width: 50%;
    background-image:linear-gradient(rgb(5, 51,237, .9), rgb(5, 51, 237)) ;
    padding: 45px 0 30px 7%;
}

.contact-left p{
    font-size: 14px;
    text-align: justify;
    padding-right: 55px;
    padding-top: 20px;
}

.contact-left ul{
    margin: 25px 0 0 40px;
    font-size: 14px;
}

.contact-left ul li{
    margin-bottom: 10px;
}

.contact-rigth{
    width: 50%;
    padding: 45px 0 30px 7%;
    background: #0533edd4;

}

.formulario{
    background: orange;
    width: 80%;
    height: 300px;
    border-radius: 20px;
}


@media only screen and (max-width: 360px){
    
    /* Definimos tamaño de texto para los elementos h1 y h2 */
    h1{
        font-size: 20px;
    }

    h2{
        font-size: 14px;
    }

    /* -----------Aplicamos los estilos mobile al HEADER----------- */
    .menu-header{
        width: 100vw;
        display: block;
        justify-content: center;
    }

    .logo-menu{
        text-align: center;
    }

    .main-menu{
        display: block;
        text-align: center;
        min-width: 100%;
        padding-top: 10px;
    }

    .text-menu{
        font-size: 14px;
    }

    /* -----------Aplicamos los estilos mobile al FOOTER----------- */
    .footer{
        padding: 20px 0px;
        display: block;
        height: auto;
        height: 550px;
    }

    #logo-footer{
        width: 200px;
        margin-top: 12px;
    }


    /* Ahora empezamos a aplicar estilo mobile a los MAIN de cada pagina */
    /* -----------Aplicamos los estilos mobile al MAIN de index.html----------- */
    .welcome-title{
        padding-top: 40px;
        width: 80%;
    }      

    .search-bar{
        padding: 0 20px 50px 20px;
        box-sizing: border-box;
    }

    .activities-list{
        display: block;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .activities-list div{
        margin-bottom: 15px;
        height: 120px;
    }

    .why-us-container h2{
        font-size: 18px;
    }

    .why-us-items{
        flex-direction: column;
    }

    .why-us-item{
        margin-bottom: 45px;
    }

    .why-us-item p{
        font-size: 14px;
    }


    /* -----------Aplicamos los estilos mobile al MAIN de alquileres.html----------- */
    .alq-search{
        position: inherit;
    }
    
    .alq-search-bar{
        width: 100%;
        padding: 20px 15px;
        margin: 0 10px;
    }
    
    .elements{
        flex-direction: column;
        width: 100%;
    }

    .search-items{
        width: 100%;
        margin-bottom: 8px;
    }

    .alq-main{
        margin: 0;
        /* padding: 0 10px; */
        box-sizing: border-box;
    }

    .alq-container{
        flex-direction: column;
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;
        overflow: hidden;
    }

    .alq-img{
        width: auto;
        /* padding: 10px; */
    }

    .alq-img img{
        border: none;
    }

    .alq-desc{
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        text-align: center;
    }

    .btn-container{
        padding: 0 30px;
        margin: 20px 0;
    }

    .alq-btn{
        width: 100%;
    }

    .maps{
        margin-bottom: 14px;
    }


    /* -----------Aplicamos los estilos mobile al MAIN de mis-reservas.html----------- */
    .account-section{
        height: auto;
        width: 100vw;
        display: block;
    }

    .account{
        display: block;
        width: auto;
        margin: 0;
        padding: 5%;
        text-align: center;
    }

    .account-signup{
        width: 100%;
        padding: 30px 0;
        border-radius: 15px 15px 0 0;
    }

    .account-signup p{
        font-size: 14px;
        padding: 0 10px;
    }

    .account-form{
        margin: 20px 0 0 0;
    }
    
    .account-login{
        width: 100%;
        padding: 30px 0;
        border-radius: 0 0 15px 15px;
    }

    .account-login p{
        font-size: 14px;
        padding: 0 10px;
    }


    /* -----------Aplicamos los estilos mobile al MAIN de quienes-somos.html----------- */

    .us-banner, .us-backg{
        min-height: 300px;
        height: 300px;
    }
    
    .us-title{
        font-size: 26px;
    }

    .us-description{
        font-size: 16px;
        padding: 0 20px;
    }

    .us-desc{
        flex-direction: column;

    }

    .us-desc-text{
        width: 100%;
        font-size: 14px;
        margin-bottom: 20px;
        order: 1; /* Aplicamos reordenamiento de columnas para que siempre sea texto + imagen */
    }

    .us-desc-img{
        width: 100%;
        order: 2; /* Aplicamos reordenamiento de columnas para que siempre sea texto + imagen */
    }

    .us-counter{
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    .us-counter-item{
        font-size: 14px;
        margin-top: 40px;
    }

    .us-counter-item img{
        margin: 5px 0;
        width: 70px;
    }


    /* -----------Aplicamos los estilos mobile al MAIN de contacto.html----------- */

    .contact-sec1{
        padding: 70px 0 40px 0;
    }
    
    .contact-items{
        display: block;
        padding: 0;
    }

    .contact-item{
        margin-bottom: 60px;
    }

    .contact-item img{
        width: 70px;
        margin: 0;
    }

    .contact-item p{
        font-size: 14px;
    }

    .contact-sec2{
        flex-direction: column;
        width: 100vw;
        padding: 0;
        overflow: hidden;
    }

    .contact-left{
        width: 100%;
        padding: 45px 18px;
        box-sizing: border-box;
        text-align: center;
    }

    .contact-left p{
        padding: 20px 0 0 0;
        font-size: 14px;
    }

    .contact-left h2{
        font-size: 20px;
    }

    .contact-left ul{
        margin: 20px 2px 0 25px;
        text-align: left;
    }

    .contact-rigth{
        width: 100%;
        padding: 45px 18px;
        text-align: center;
        box-sizing: border-box
    }

    .formulario{
        width: 100%;
    } 
}  
