@import '../utilities/colors-palette';
@import '../utilities/breakpoint';
@import '../base/reset';

%btn1{
  background: $color2;
  min-width: 120px;
  height: 35px;
  color: $color1;
  border: solid 2px $color3;
  border-radius: 30px;
  transition-duration: .6s;
  &:hover{
    background: $color3;
    border: solid 3px $color2;
    box-shadow: inset 0 0 10px .3px $color1;
    transition-duration: .6s;
  }
  @media only screen and (max-width: $break-mobile){
    font-size: $font-mobile;
    height: 45px;
    min-width: 240px;
  }
}

%btn2{
  background: $color1;
  width: 180px;
  height: 35px;
  color: $color3;
  border: solid 2px $color3;
  margin: 25px 25px 15px 0;
  border-radius: 30px;
  &:hover{
    background: $color3;
    color: $color1;
    border: solid 3px $color1;
  }
  @media only screen and (max-width: $break-mobile){
    font-size: $font-mobile;
    padding: 0 30px;
    margin: 20px 0;
    width: 70%;
    height: 50px;
  }
}

%btn3{
  background: $color3;
  padding: 5px 10px;
  width: 50%;
  height: 35px;
  color: $color1;
  border: solid 2px $color3;
  border-radius: 30px;
  margin-top: 15px;
  transition-duration: .6s;
  box-shadow: 0 3px 10px .1px rgba($color4, 0.42);
  &:hover{
    letter-spacing: .2em;
    transition-duration: .6s;
  }
  @media only screen and (max-width: $break-mobile){
    height: 50px;
    font-size: $font-mobile;
    margin: 50px 25% 0 25%;
  }
}
