@import '../utilities/colors-palette';
@import '../utilities/breakpoint';
@import './btn';
@import '../layout/display';

.alq-search{
  width: 100vw;
  @include flex(flex, center);
  margin: 20px 0;
  position: sticky;
  top:10px;
  z-index: 100;
  @media only screen and (max-width: $break-mobile){
    position: inherit;
  }
  .alq-search-bar{
    @include flex(flex, center);
    padding: 15px 25px;
    border-radius: 30px;
    align-content: center;
    width: auto;
    background: $color1;
    box-shadow: 0px 7px 11px 5px rgba(0,0,0,0.12);
    @media only screen and (max-width: $break-mobile){
      width: 100%;
      padding: 20px 15px;
      margin: 0 10px;
    }
  }
  div{
    width: 800px;
    @include flex(flex, space-between);
    @media only screen and (max-width: $break-mobile){
      flex-direction: column;
      width: 100%;
    }
    select{
      height: 35px;
      width: 200px;
      border-radius: 6px;
      border: none;
      text-align: center;
      @media only screen and (max-width: $break-mobile){
        width: 100%;
        margin-bottom: 8px;
        font-size: 20px;
        height: 50px;
      }
    }
    button{
      @extend %btn1;
    }
  }
}