@import '../utilities/colors-palette';
@import '../utilities/breakpoint';
@import '../base/reset';
@import '../components/btn';

.why-us-container{
  background: darken($color2, 4);
  padding: 35px 0;
  text-align: center;
  color: $color3;
  .why-us-items{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    @media only screen and (max-width: $break-mobile){
      flex-direction: column;
    }
    .why-us-items-item{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      @media only screen and (max-width: $break-mobile){
        margin-bottom: 45px;
      }
      p{
        @media only screen and (max-width: $break-mobile){
          font-size: $font-mobile;
        }
      }
      img{
        width: 70px;
        padding-bottom: 10px;
      }
    }
  }
}